extends layout

block content
  .container
    h1#title Trivia
    .indexform
      form(action='http://localhost:3000/ps4' method='post')
        h3 Sharpen your trivia skills (50 questions Max) !
        p How Many Questions would you like?
        input(type='text' name='number')
        button#generate(type='submit') Generate


